.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .group-name
        = @group.name   # コントローラーで@groupを定義していて、nameカラムの情報が欲しい
      .members-name
        メンバー:
        - @group.users.each do |user|
          =user.name
          
    .chat-main__group-info__right-box
      = link_to "Edit",edit_group_path(@group), class: "edit-btn" 

  .chat-main__message-list
    = render @messages 

  .chat-main__message-form
    = form_for [@group, @message],html: {class: "chat-main__message-form__area"} do |f|
      .two-boxes
        .message-box
          = f.text_field :content, placeholder: "type a message", class: "message-box"
        .img-box
          = f.label :image, class: 'img-btn' do
            =icon('fas', 'image')
            .under-btn
              = f.file_field :image

      = f.submit 'Send', class: 'send-btn'



  -# .chat-main__message-form
  -#   .chat-main__message-form__area
  -#     .two-boxes
  -#       .message-box
  -#         %input{type: "text", placeholder: "type a message", class: "message-box"}
  -#       .img-box
  -#         %label{class: "img-btn"} 
  -#           =icon('fas', 'image')
  -#           .under-btn
  -#             %input{type: "file"}

  -#     .send-btn
  -#       Send



-# input要素をform_forの仕様に変更する
-# text, image, label, send-btn

-# input要素の親要素をform_forに変更する
          


