.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        .contents
          = link_to new_group_path, class: "contents_btn" do
            =icon('far', 'edit')
          = link_to edit_user_path(current_user), class: "contents_btn" do
            =icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      = link_to '#' do
        .lists__title
          = group.name
        .messages
          まだメッセージがありません
          <%= %>
     